
.icon
{
    color: #d00053;

}
.item{
    color: #d00053;
}
.auth-icon {
    font-size: 7.0em;
}
.logo{
    margin-top: 2%;
    margin-left: 32%;
    margin-bottom: 2%;
    width: 35%;
}
.cor{
    background: #eac3d0;
}
